<%= render "shared/mail_stylesheet.css" %>
<div class="main">
  <h1><img src="https://s3-sa-east-1.amazonaws.com/sp-properly-echoes/email-assets/echoes-email-logo.png" alt="Echoes"></h1>
  <p>Você foi adicionado a um novo projeto</p>

  <div class="package-wrap">
    <p class="label">
      Projeto
    </p>
    <h2> <%= @client.name %> </h2>

    <%= link_to "Visualizar projeto", @link, class: "btn" %>
  </div>
</div>
